@import 'variables';

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
a {
  text-decoration: none;
  color: inherit;
}
html {
  box-sizing: border-box;
  font-size: 62.5%; /* root font-size to rem - correspond to 10px but not in px to authorize user to change default font size of his browser - 1rem = 10px; 10px/16px = 62.5% - 16px default size browser font*/

  @include respond(tab-land) {
    // width < 1200 ?
    font-size: 56.25%; // 1rem = 9px; 9/16 = 56.25%
  }

  @include respond(tab-port) {
    // width < 900 ?
    font-size: 50%; // 1rem = 8px; 8/16 = 50%
  }

  @include respond(big-desktop) {
    // width > 1800 ?
    font-size: 75%; // 1rem = 12px; 12/16 = 75%
  }
}

body {
  font-family: $font-primary;
  font-weight: $font-weight-regular;
  line-height: $font-line-height-body;
  font-size: $font-size-body;
  background-color: $white-color;
  color: $dark-grey;

  @include respond(tab-land) {
  }

  @include respond(phone) {
  }
}
