@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;700&display=swap');

// PRIMARY COLORS
$white-color: #ffffff;

// SECONDARY COLOR
$blue-torquoise: rgb(68, 203, 200);
$dark-grey: #333;

// BORDERS
$white-border-thin: 1px solid $white-color;
$white-border-large: 3px solid $white-color;

// SHADOW
// $light-shadow: 4px 4px 4px rgba(133, 133, 133, 0.1);
// $light-shadow-4: 2px 2px 2px 2px rgba(133, 133, 133, 0.1);
// $medium-shadow-4: 2px 2px 2px 2px  rgba(133, 133, 133, 0.3);

// FONTS WEIGHT
$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-semi-strong: 600;
$font-weight-strong: 700;

// FONT FAMILY
$font-primary: 'Open Sans', sans-serif;
$font-secondary: 'Playfair Display', serif;

// FONTS SIZE
$font-heading-1: 48px;
$font-heading-2: 40px;
$font-heading-3: 20px;
$font-size-body: 16px;
$font-size-element: 15px;

// FONT LINE HEIGHT
$font-line-height-heading-1: 48px;
$font-line-height-heading-2: 40px;
$font-line-height-heading-3: 26px;
$font-line-height-body: 26px;

// FONT LETTER SPACING
$font-letter-spacing-middle: 2px;
$font-letter-spacing-high: 5px;
