.container__customer__service {
  display: flex;
  flex-direction: column;
  width: 10%;
  &__title {
    margin-bottom: 2vh;
  }
  &__item {
    font-size: 1rem;
    &:hover {
      border-bottom: 1px solid black;
    }
  }
}