@import "../../../sass/main";

.signIn__header {
  height: 5.6rem;
  display: flex;
  padding: 0 2rem 0 2rem;
  align-items: center;
  margin-bottom: 24px;
  background-color: #f8f8f8;

  font-size: 16px;
  font-family: 'Playfair Display', serif;
  font-weight: 600;

  &.dark {
    background-color: $dark-grey;
  }

  &--titleWithCross {

    margin-left: auto;

    &.dark {
      font-family: $font-primary;
      font-size: 1.5rem;
      font-weight: $font-weight-semi-strong;
      color: #fafafa;
    }
  }
}

.signIn__header__btn {
  border: none;
  background-color: #f8f8f8;

  &--arrow {
    margin-right: auto;
  }
  &--cross {
    margin-left: auto;

    &.dark {
      background-color: $dark-grey;
      & > svg {
        fill: #ebebeb;
      }
    }
  }
  svg {
    fill: #333;
    width: 20px;
  }
}
