.container__customer__contact {
  display: flex;
  flex-direction: column;
  width: 15%;
  &__title {
    margin-bottom: 2vh;
  }
  &__introduction {
    font-size: 1.5rem;
  }
  &__paragraph {
    font-size: 1.5rem;
    font-weight: bold;
  }
}